# =========================
# BACKEND
# =========================

backend/venv/
backend/__pycache__/
backend/.pytest_cache/
backend/uploads/

# =========================
# PYTHON
# =========================

*.pyc
*.pyo
*.pyd

# =========================
# FRONTEND
# =========================

frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================
# ENV FILES
# =========================

.env
*.env

# =========================
# LOG FILES
# =========================

*.log

# =========================
# IDE FILES
# =========================

.vscode/
.idea/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# CACHE FILES
# =========================

.cache/